Sample space: a set of all possible outcomes <br>
Event: a set of outcomes. <br>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
#import dataset excel
pd.read_excel("diamonds_new.xlsx")

       price  carat        cut color clarity  depth  table     x     y     z
0        326   0.23      Ideal     E     SI2   61.5   55.0  3.95  3.98  2.43
1        326   0.21    Premium     E     SI1   59.8   61.0  3.89  3.84  2.31
2        327   0.23       Good     E     VS1   56.9   65.0  4.05  4.07  2.31
3        334   0.29    Premium     I     VS2   62.4   58.0  4.20  4.23  2.63
4        335   0.31       Good     J     SI2   63.3   58.0  4.34  4.35  2.75
...      ...    ...        ...   ...     ...    ...    ...   ...   ...   ...
53915   2757   0.72      Ideal     D     SI1   60.8   57.0  5.75  5.76  3.50
53916   2757   0.72       Good     D     SI1   63.1   55.0  5.69  5.75  3.61
53917   2757   0.70  Very Good     D     SI1   62.8   60.0  5.66  5.68  3.56
53918   2757   0.86    Premium     H     SI2   61.0   58.0  6.15  6.12  3.74
53919   2757   0.75      Ideal     D     SI2   62.2   55.0  5.83  5.87  3.64

[53920 rows x 10 columns]

In [10]:
df = pd.read_excel("diamonds_new.xlsx")

df

       price  carat        cut color clarity  depth  table     x     y     z
0        326   0.23      Ideal     E     SI2   61.5   55.0  3.95  3.98  2.43
1        326   0.21    Premium     E     SI1   59.8   61.0  3.89  3.84  2.31
2        327   0.23       Good     E     VS1   56.9   65.0  4.05  4.07  2.31
3        334   0.29    Premium     I     VS2   62.4   58.0  4.20  4.23  2.63
4        335   0.31       Good     J     SI2   63.3   58.0  4.34  4.35  2.75
...      ...    ...        ...   ...     ...    ...    ...   ...   ...   ...
53915   2757   0.72      Ideal     D     SI1   60.8   57.0  5.75  5.76  3.50
53916   2757   0.72       Good     D     SI1   63.1   55.0  5.69  5.75  3.61
53917   2757   0.70  Very Good     D     SI1   62.8   60.0  5.66  5.68  3.56
53918   2757   0.86    Premium     H     SI2   61.0   58.0  6.15  6.12  3.74
53919   2757   0.75      Ideal     D     SI2   62.2   55.0  5.83  5.87  3.64

[53920 rows x 10 columns]

In [15]:
#write code to find the probability of a premium diamond
#P(E) = desired outcome over total sample space

#count all cuts
cut_total = df['cut'].count()

print(f"the total count of cuts is: {cut_total}")

the total count of cuts is: 53920

In [18]:
#now count premiums
premium = df[df['cut']=="Premium"]['cut'].count()

print(f"the total count of Premium is: {premium}")

the total count of Premium is: 13789

In [17]:
#now we find the probability
prob = premium/cut_total

print(f"answer {prob}")

answer 0.2557307121661721

The probability is 0.25%

Conditional  probability = <br>
P(A|B) = p(a and b) / p(B)

Probability of J given premium = Prob (j and premium) / prob of premium

In [ ]:
#bring out the j and premium
j_premium = (df['cut']=="Premium") & (df['color']=="J")

In [24]:
#count them now
j_premium_count = df[j_premium]["cut"].count()
j_premium_count

np.int64(808)

In [25]:
#p(a and b) / p(b)
final = j_premium_count/premium

final

np.float64(0.05859743273623903)